.header {
  display: flex;
  /* flex-direction: column; */
  gap: 3rem;
  margin: 3rem auto;
  width: 90%;
  max-width: 75rem;
}

.slidesShow {
  width: 40rem;
  height: 25rem;
}



.hero h1 {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.09rem;
  text-transform: uppercase;
  background: linear-gradient(90deg, #100939, #2612bf);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero  {
  color: #1e1b4b;
  font-size: 1.5rem;
}

.cta {
  font-size: 1.5rem;
  display: flex;
  gap: 1rem;
}

.cta a {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: linear-gradient(90deg, #321a94, #160751);
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

.cta a:hover,
.cta a:active {
  background: linear-gradient(90deg, #3459ef, #7da7da);
}

.cta a:first-child {
  background: transparent;
  font-weight: normal;
  color: #160751;
  padding-left: 0;
}
.cta a:first-child:hover,
.cta a:first-child:active {
  background: transparent;
  color: #7da7da;
}

.section {
  display: flex;
  flex-direction: column;
  color: #090417;
  font-size: 1.5rem;
  max-width: 50rem;
  width: 90%;
  margin: 2rem auto;
  text-align: center;
}